body {
    background-color: azure;
}

fieldset {
    margin: auto;
    width: 50%
}

h1 {
    text-align: center;
    font-size: 40px;
}

label {
    color: rgb(4, 10, 92);
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}

#question {
    font-size: 26px;
    color: black;
    font-family: 'Russo One', sans-serif;
}

div #qOne, #qTwo, #qThree, #qFour, #qFive, #submit {
    margin-top: 20px;
} 

#scoreMessage {
    text-align: center;
    color: rgb(4, 10, 92);
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}

button {
    display: inline-block;
    font-family: 'Fredoka One', cursive;
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    border: none;
    color: azure;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input{
    color: rgb(4, 10, 92);
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}