#square {
    height: 100px;
    width: 100px;
    margin-left: 20px;
}
#square2 {
    height: 100px;
    width: 100px;
    margin-left: 20px;
}
#square3 {
    height: 100px;
    width: 100px;
    margin-left: 20px;
}
#square4 {
    height: 100px;
    width: 100px;
    margin-left: 20px;
}

hr {
    color: #f00;
    background-color: #f00;
    height: 3px;
}
